<div class="refer-unit">
    <img class="refer-unit-img" src="{{imgSrc}}" alt="">
    <h1 class="refer-unit-heading">{{heading}}</h1>
    <ul class="refer-unit-list">
        <li class="refer-unit-list__item">{{firstContentItem}}</li>
        {{#if secondContentItem}}
        <li class="refer-unit-list__item">{{secondContentItem}}</li>
        {{/if}}
        {{#if thirdContentItem}}
        <li class="refer-unit-list__item">{{thirdContentItem}}</li>
        {{/if}}
    </ul>
</div>